In [31]:
#-----------------------------------
# csc531 Week3 -- Part1 --Try to read data using url & Print out 
#                         descriptive statistics using "pandas"
# Ref:1. https://machinelearningmastery.com/load-machine-learning-data-python/
#     2. https://www.geeksforgeeks.org/working-with-missing-data-in-pandas/
#     3. https://www.kaggle.com/rtatman/data-cleaning-challenge-handling-missing-values
#     4. https://www.listendata.com/2019/06/pandas-read-csv.html (Read file CSV)
#     5. https://www.bogotobogo.com/python/scikit-learn/scikit_machine_learning_Data_Preprocessing-Missing-Data-Categorical-Data.php
#     6. https://www.pluralsight.com/guides/interpreting-data-using-descriptive-statistics-python (Mean, Mode, etc. of column)
# ---------------------------------
import pandas as pd

url2 = "https://raw.githubusercontent.com/jodyabney/R-Data-Analysis-Cookbook_Downloads/master/Chapter1/data/missing-data.csv"
data = pd.read_csv(url2, header =0)

print("\nMobile phone dataset --> Data dimension :")
print(data.shape)

print("Show ALL data :")
print(data)

print("\nOverall Basic-statistics :")
print(data.describe())
print("\nData info: ")
print(data.info())
print("\nMean or AVG of all columns :")
print(data.mean())
print("\nMode of all columns :")
print(data.mode())

#to get a mean or a mode of a particular column
print("\nMean of 'Income' : ")
print(data.loc[:,'Income'].mean())
print("\nMode of 'Phone_type': ")
print(data.loc[:,'Phone_type'].mode())
#-----------------------------------
# -- Part2 --Try to check and count for missing data or "NaN" with isnull()
#   
# ---------------------------------           
# displaying data only with plas = NaN 
print("\nCount the number of missing data points in each attr:")
missing_values_count = data.isnull().sum()
print(missing_values_count[0:3])
#
# ---------------------------------     
#    Task1 --> a) replace NaN of 'Income' with the column AVG
#              b) replace Nan of 'Phone_type' with the column Mode
# 
#     Your codes go here !!!
#
# ---------------------------------     
# Check for NaN after replacing missing data with specific values
print("\nAfter replacing NaN values --> Count the missing data points: ")
missing_values_count = data.isnull().sum()
print(missing_values_count[0:3])
print("\nAfter replacing NaN values --> Show all data: ")
print(data)

Mobile phone dataset --> Data dimension :
(27, 3)
Show ALL data :
      Income Phone_type    Car_type
0    89800.0    Android      Luxury
1    47500.0    Android  Non-Luxury
2    45000.0     iPhone      Luxury
3    44700.0        NaN      Luxury
4    59500.0     iPhone      Luxury
5        NaN    Android  Non-Luxury
6    63300.0     iPhone  Non-Luxury
7    52900.0    Android      Luxury
8    78200.0    Android      Luxury
9   145100.0     iPhone      Luxury
10   88600.0     iPhone  Non-Luxury
11   65600.0     iPhone      Luxury
12       NaN    Android  Non-Luxury
13   94600.0    Android      Luxury
14   59400.0     iPhone      Luxury
15   47300.0     iPhone  Non-Luxury
16   72100.0        NaN      Luxury
17       0.0     iPhone  Non-Luxury
18       0.0    Android      Luxury
19   83000.0     iPhone      Luxury
20   64100.0    Android  Non-Luxury
21   42100.0     iPhone  Non-Luxury
22       0.0     iPhone      Luxury
23   91500.0     iPhone  Non-Luxury
24   51200.0    Android      Luxury
25   13800.0     iPhone  Non-Luxury
26   47500.0     iPhone  Non-Luxury

Overall Basic-statistics :
              Income
count      25.000000
mean    57872.000000
std     33170.085921
min         0.000000
25%     45000.000000
50%     59400.000000
75%     78200.000000
max    145100.000000

Data info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Income      25 non-null     float64
 1   Phone_type  25 non-null     object
 2   Car_type    27 non-null     object
dtypes: float64(1), object(2)
memory usage: 776.0+ bytes
None

Mean or AVG of all columns :
Income    57872.0
dtype: float64

Mode of all columns :
   Income Phone_type Car_type
0     0.0     iPhone   Luxury

Mean of 'Income' :
57872.0

Mode of 'Phone_type':
0    iPhone
dtype: object

Count the number of missing data points in each attr:
Income        2
Phone_type    2
Car_type      0
dtype: int64

After replacing NaN values --> Count the missing data points:
Income        2
Phone_type    2
Car_type      0
dtype: int64

After replacing NaN values --> Show all data:
      Income Phone_type    Car_type
0    89800.0    Android      Luxury
1    47500.0    Android  Non-Luxury
2    45000.0     iPhone      Luxury
3    44700.0        NaN      Luxury
4    59500.0     iPhone      Luxury
5        NaN    Android  Non-Luxury
6    63300.0     iPhone  Non-Luxury
7    52900.0    Android      Luxury
8    78200.0    Android      Luxury
9   145100.0     iPhone      Luxury
10   88600.0     iPhone  Non-Luxury
11   65600.0     iPhone      Luxury
12       NaN    Android  Non-Luxury
13   94600.0    Android      Luxury
14   59400.0     iPhone      Luxury
15   47300.0     iPhone  Non-Luxury
16   72100.0        NaN      Luxury
17       0.0     iPhone  Non-Luxury
18       0.0    Android      Luxury
19   83000.0     iPhone      Luxury
20   64100.0    Android  Non-Luxury
21   42100.0     iPhone  Non-Luxury
22       0.0     iPhone      Luxury
23   91500.0     iPhone  Non-Luxury
24   51200.0    Android      Luxury
25   13800.0     iPhone  Non-Luxury
26   47500.0     iPhone  Non-Luxury

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.